.App {
  text-align: center;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: inline-block;
  height: 100%;
  margin: 1rem;
  padding: 1rem;
  position: relative;
  width: 80vw;
}

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}

.item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: calc(80vw - 340px);
}

.title {
  font-size: 1.5em;
  margin: 0;
  text-align: start;
  font-weight: bold;
}

.desc {
  font-size: 1em;
  width: 100%;
  text-align: justify;
  margin: 0;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}

.borrow-btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.borrow-btn:hover {
  background-color: #3e8e41;
}

.return-btn {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.return-btn:hover {
  background-color: #da190b;
}
